<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebChatOn</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserInterface</servlet-name>
    <servlet-class>ui.UserInterface</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderVerify</servlet-name>
    <servlet-class>uiprovider.ProviderVerify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderChoose</servlet-name>
    <servlet-class>uiprovider.ProviderChoose</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderDirectory</servlet-name>
    <servlet-class>uiprovider.ProviderDirectory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberCheck</servlet-name>
    <servlet-class>uiprovider.MemberCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateClaim</servlet-name>
    <servlet-class>uiprovider.CreateClaim</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddClaim</servlet-name>
    <servlet-class>uiprovider.AddClaim</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OperatorChoose</servlet-name>
    <servlet-class>uioperator.OperatorChoose</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderCreate</servlet-name>
    <servlet-class>uioperator.ProviderCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberCreate</servlet-name>
    <servlet-class>uioperator.MemberCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SerivceCreate</servlet-name>
    <servlet-class>uioperator.ServiceCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderDelete</servlet-name>
    <servlet-class>uioperator.ProviderDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberDelete</servlet-name>
    <servlet-class>uioperator.MemberDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SerivceDelete</servlet-name>
    <servlet-class>uioperator.ServiceDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderChange</servlet-name>
    <servlet-class>uioperator.ProviderChange</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberChange</servlet-name>
    <servlet-class>uioperator.MemberChange</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SerivceChange</servlet-name>
    <servlet-class>uioperator.ServiceChange</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerChoose</servlet-name>
    <servlet-class>uimanager.ManagerChoose</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProviderReportCreate</servlet-name>
    <servlet-class>uimanager.ProviderReportCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberReportCreate</servlet-name>
    <servlet-class>uimanager.MemberReportCreate</servlet-class>
  </servlet>
</web-app>